<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

    <form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="id">Enter name: </label>
        <input type="text" th:field="*{id}" id="id"/>
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <label for="age">Enter name: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <input type="submit" value="Update!"/>
    </form>

</table>
</body>
</html>